# Virtual environments
venv/
.venv/
env/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/

# Data / model artifacts
data/
*.npy
*.gz
*.pt
*.pth
*.ckpt

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store

# Editors
.vscode/
.idea/
